body, html{
margin:0;
width:100%;
}



#polygonGridOnCtrl{
  position: absolute;
  z-index: 4;
  width:450px;
  height:550px;
}

#cameraCamera{
  position: absolute;
  z-index: 1;
  width:450px;
  height:550px;
}

#Alert{
  position: absolute;
  float: right;
  z-index: 2;
  left: 300px;
}

#zahyou{
  position: absolute;
  float: right;
  z-index: 3;
  left: 300px;
}
.box{
    width:700px;
    border:1px solid black;
    background:#ccc;
    margin:20px auto;
    padding:20px;
}

h1{
    font-size:20px;
    margin-top:0 auto;
}

.box h2{
    font-size:18px;
}

.box code{
    display:block;
    font-size:16px;
    white-space:pre;
}

.box div{
    width:700px;
    height:300px;
    margin:20px 0 0;
    border:1px solid black;
    border-radius:10px;
}

@media only screen and (max-width: 600px) {
  .footer-text, .dg {
    display: none;
  }
}
